/**{*/
	margin: 0;
	padding: 0;
	border: 0;
}

h1,h2,h3,h4,h5{
	font-weight: normal;
}
a:hover{
	cursor: pointer;
}
a:visited{
	color: inherit;
}
li{
	/*list-style: none;*/
}


body{
	font-family: 'PT Sans', sans-serif;
	/*text-align: center;*/
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title{
	height: 509px;
	background-image: url(../img/main_background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
