
:root{
	--black-color: #000000;
	--white-color: #FFFFFF;
	--accent-color: #81B3D2;
	--dark-accent:#669EC0;
	--darker-accent:#5496BD;
	--basic-brown: #766357;
	--dark-brown:#604E43;
	--darken-brown:#503E33;
	--brown2:#666666;
 	--ligth-dark: #333333;
 	--gray-color: #EEEEEE;
  	--ligth-gray: #F2F2F2;
  	--ligth-white: #EBEBEB;
  	--hr-color:#E5E5E5;
}
.page{
	height: 100%;
}

*, 
*::before, 
*::after{
	box-sizing: border-box;
}

/*.page-body{
	min-height: 100%;
  	display: grid;
  	grid-template-rows: min-content 1fr min-content;
  	align-content: start;
}*/
/*оставлю закомментированным,
 они сказали потом покажут для чего это нужно было,
 на страницу сейчас никак не влияет*/
a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

body{ 
	font-family:'PT Sans', Verdana, sans-serif;
	background-color: var(--ligth-gray);
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--black-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
	background-color: var(--white-color);
	width: 1200px;
	margin: 0 auto;
}
.nav ul{
	padding-left: 0;
	display: flex;
	justify-content: space-around;
	margin: 0;
}
.nav li{
	list-style: none;
	font-weight: 700;
	color: var(--black-color);
	margin-left: 10px;
}
.nav_item a{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}
.nav_item li:nth-child(2){
	margin-right: 133px;
}
.nav_item li:nth-child(3){
	margin-left: 147px;
}

.nav a{
	color: var(--black-color);
}

.nav a:hover{
	color: var(--accent-color);
}
.nav a:active{
	opacity: 0.3;
}
.main_logo{
	position: absolute;
	left: 50%;
	margin-left: -60px;
}
.title{
	background-image: url(../img/main_background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}
.title img{
	margin: 0 auto;
	margin-top: 66px;
	margin-bottom: 80px;
}
.reasons{
	text-align: center;
}
.reasons_title{
	font-weight: 700;
	font-size: 21px;
	margin: 0;
	padding-bottom: 20px;
	margin-top: 42px;
	margin-bottom: 16px;
}
.reasons_text{
	font-weight: 400;
	line-height: 26px;
	font-size: 14px;
	color: var(--ligth-dark);
	margin-bottom: 51px;
}
/*тут если добавить макс ширину для переноса строк все ломается, 
это можно исправить?*/
.reasons_item_child h3,
.reasons_item_child h4{
	font-size: 21px;
	line-height: 21px;
	max-width: 150px;
}
.child_blue {
	background-color: var(--accent-color);
	color: var(--white-color);
}
.child_gray{
	background-color: var(--gray-color);
}
.reasons_grid{
	padding: 0;
}
.reasons_grid li{
	list-style: none;
}
.reasons_item_wide{
	display: grid;
	grid-template-columns: 1fr 800px;
	grid-template-rows: 1fr;
}
.reasons_item_wide_reverse{
	display: grid;
	grid-template-columns: 800px 1fr;
}
.reasons_item_3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 256px;
	grid-template-rows: 1fr;
}
/*разные паддинги у содеримого прописывать придется, 
или можно обойтись br, по тому что ширина тоже разная у каждого параграфа*/
.reasons_item_child{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	padding-right: 50px;
}
.hotels_description{
	text-align: center;
	font-weight: 700;
}
.hotels_description p:nth-child(2n){
	font-size: 30px;
	line-height: 24px;
	margin: 0;
	margin-top: 58px;
}
.hotels_description p:nth-child(3n){
	font-weight: normal;
	padding: 0;
	padding-top: 30px;
	padding-bottom:10px; 
}

.search_hotels{
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	align-items: center;
	color: var(--white-color);
	padding: 30px 124px 30px 125px;
	border: none;
	text-transform: inherit;
	width: 100%;
	background-color: var(--basic-brown);
	margin: 0;
}
.search_hotels:hover{
	background-color: var(--dark-brown);
}
.search_hotels:active{
	color: rgba(255,255,255, 0.3);
	background-color: var(--darken-brown);
}
 
.form_search{
	width: 568px;
	margin: 0 auto;
	position: relative;
}
.form_body{
	padding: 55px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: absolute;
	background-color: var(--white-color);

}
.form_body p{
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
}
.form_search label,
.form_search input{
	font-weight: 700;
	line-height: 26px;
	border: none;
	margin-bottom: 30px;
}
.form_search input{
	background-color: var(--ligth-gray);
	width: 346px;
}
.form_search input:hover{
	background-color: var(--ligth-white);
}
.form_search input:focus{
	background-color: var(--white-color);
}

.button_search{
	color: var(--white-color);
	background-color: var(--accent-color);
	line-height: 26px;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	padding: 16px 182px 16px 181px;
	margin-top: 14px;
}
.button_search:hover{
	 background-color: var(--dark-accent);
}
.button_search:active{
	 color: rgba(255,255,255, 0.3);
	 background-color: var(--darker-accent);
}

.footer_info{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.social_icons .inst{
}
.social_icons .fb{	
}
.social_icons .tw{
}
.social_icons a:hover{
}
.sochial_icons a:actie{
}

.signature_logo a{
	color: var(--black-color);
	text-align: center;
	line-height: 26px;
	font-weight: 400;
	display: flex;
	align-items: center;
}
.logo_footer{
}
.logo_footer:hover{
}
.logo_footer:active{
}
 
.footer{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	align-items: center;
}



/*2 страница*/
.nav .active{
	color: var(--basic-brown);
}
.filters{
	background-image: url(../img/backgrounds.png);
	background-size: cover;
	display: flex;
	padding-left: 72px;
	padding-right: 72px;
}
.filters ul{
	margin: 0;
	padding: 0;
}
.infrastructure,
.type{
	width: 240px;
}
.price{
	width: 317px;
	margin-left: auto;
}
fieldset{
	border: none;
}
legend{
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	color: var(--white-color);
	padding-top: 27px;
	padding-bottom: 24px;

}
.checkbox_filters li{
	color: var(--white-color);
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	list-style: none;
	padding-bottom: 25px;
}


/*как спозиционировать кнопку*/

.show_results_btn{
	color: var(--white-color);
	text-transform: uppercase;
	line-height: 21px;
	padding: 7px 35px 8px 36px;
	margin-top: 33px;
	background:transparent;
	border: 2px solid var(--white-color);
	font-weight: normal;
	border-radius: 2px;
}
.show_results_btn:hover{
	background: var(--white-color);
	color: var(--black-color);
}
.result{
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	align-items: center;
}
.result p:nth-child(1){
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}
.result p:nth-child(2){
	font-size: 12px;
	line-height: 18px;
	padding-left: 50px;
}
.filter_sort li{
	list-style: none;
}
.filter_sort{
	display: flex;
	/*width: 250px;*/
	justify-content: space-between;
}
.filter_sort a{
	color: var(--black-color);
	border-bottom: 2px var(--accent-color) dotted; 
	opacity: 0.3;
	margin-left: 32px;
}

.filter_sort .selected{
	color: var(--accent-color);
	opacity: 1;
	margin-left: 0;
}
.filter_sort a:hover{
	color: var(--accent-color);
}
.filter_sort a:active{
	color: var(--black-color);
	border: none;
	opacity: 1;
}

.variant_list li{
	list-style: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	padding-left: 30px;
	padding-right: 70px;
	display: grid;
	grid-template-columns: 135px 1fr 110px;
	grid-gap: 30px;
	margin-top: 40px;
}
.variant_item img{
	width: 135px;
	height: 90px;
}
.variant_item h2{
	margin: 0;
	padding: 0;
}
.hotel_info p{
	margin: 0;
	margin-top: 7px;
	margin-bottom: 15px;
}
.hotels_name{
	font-size: 21px;
	line-height: 26px;
	align-items: center;
}
.hotels_name:hover{
    color: var(--accent-color);
    font-weight: 700;
}
.hotels_name:active{
	color: rgba(0,0,0, 0.3);
}
.hotels_type,
.variant_price{
	font-size: 14px;
	font-weight: normal;
	align-items: center;
}
.hotels_type span{
	display: inline-block;
	min-width: 116px;
}
 

.detailed_btn{
	display: inline-block;
	font-weight: 700;
	padding: 3px 16px 3px 17px;
	font-style: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	align-items: center;
	color: var(--white-color);
	background-color: var(--accent-color);
	width: 110px
	padding-right: 6px;
}
.detailed_btn:hover{
 	background-color: var(--dark-accent);
}
.detailed_btn:active{
	background-color: var(--darker-accent);
	color: rgba(255,255,255, 0.3);
}
.book_btn{
	display: inline-block;
	text-transform: uppercase;
	font-family: inherit;
	border: none;
	font-weight: 700;
	padding: 3px 16px 3px 17px;
	font-style: normal;
	font-size: 14px;
	line-height: 21px;
	align-items: center;
	color: var(--white-color);
	background-color: var(--basic-brown);
	width: 142px;
}
.book_btn:hover{
	background-color: var(--dark-brown);
}
.book_btn:active{
	background-color: var(--darken-brown);
	color: rgba(255,255,255, 0.3);
}
.rating p:nth-child(2){
	line-height: 21px;
	font-weight: normal;
	text-align: center;
	display: inline-block;
	color: var(--brown2);
	padding: 3px 15px 3px 12px;
	background-color: var(--gray-color);
}


