*{
	margin: 0;
	padding: 0;
	border: 0;
}

h1,h2,h3,h4,h5{
	font-weight: normal;
}
a:hover{
	cursor: pointer;
}
a:visited{
	color: inherit;
}
li{
	/*list-style: none;*/
}


body{
	font-family: 'PT Sans', sans-serif;
	/*text-align: center;*/
}
.title{
	height: 509px;
	background-image: url(../img/main_background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.social_icons{
	background: #81B3D2;
}